body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1096px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-70px;
  top:0px;
  width:1240px;
  height:662px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:662px;
}
#u1 {
  position:absolute;
  left:2px;
  top:323px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-74px;
  top:647px;
  width:1228px;
  height:623px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1228px;
  height:623px;
}
#u3 {
  position:absolute;
  left:2px;
  top:304px;
  width:1224px;
  visibility:hidden;
  word-wrap:break-word;
}
